.game {
  background: #9BE5E4;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.clouds {
  display: block;
  top: 30px;
  left: calc(50% - 100px);
  position: absolute;
  width: 200px;
  animation: clouds-animation infinite 5s linear;
}

.mario {
  display: block;
  position: absolute;
  bottom: 30px;
  left: 50px;
  height: 100px;
}

.mario.mario--jump {
  animation: mario-jump-animation 0.7s ease-in-out;
}

.pipe {
  display: block;
  position: absolute;
  bottom: 30px;
  right: 50px;
  width: 50px;
  animation: pipe-animation infinite 2s linear;
}

.floor {
  background: limegreen;
  bottom: 0;
  height: 30px;
  position: absolute;
  width: 100%;
}

.stop-animation {
  animation-play-state: paused !important;
}

@keyframes pipe-animation {
  from {
    left: calc(100% + 100px)
  }

  to {
    left: -300px
  }
}

@keyframes clouds-animation {
  from {
    left: calc(100% + 100px)
  }

  to {
    left: -300px
  }
}

@keyframes mario-jump-animation {
  from {
    bottom: 30px;
  }

  50% {
    bottom: 180px;
  }

  to {
    bottom: 30px;
  }
}
